.container {
    margin-top: 0;
}

.navbar {
    height: 50px;
    background-color: #007bff;
    color: #eee;
    font-size: 1.1em;
}

.navbar .menu {
    height: 50px;
}

.navbar .menu li {
    display: inline-block;
    height: 50px;
}

.navbar .menu li a {
    display: inline-block;
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
    line-height: 50px;
    transition: background-color 0.3s;
}

.navbar .menu li a:hover {
    background-color: #0069d9;
}